section#about-wrapper
	.container
		.row
			.col-6
				div.about-left-content
					h1.section-title <strong>Something</strong>
					h1.yellow_title.text-center about us
					.about-left-content-desc
						p.
							Our expertise lies in every department of film making be it ideation, scripting, animations, shooting, execution, animations, editing, strategy making, Pre –production, productions or post production.
						div.yellow-btn
							a(href='#') Read More
			.col-6
				div.about-right-content
					h1.about-right-content-title About Playfilm
					p.
						A Playfilms is a creative film production house, which has been in business for nearly more than half a decade now. During this period, it has earned the reputation of being one of the most dependable sources of high-quality production of television commercials and corporate films. With complete in-house technical & creative skills we provide a turnkey creative solution to all kind of communication needs across all media platform thus crafting a creative pool that bridles with talent and imagination. 

					p.
						At play , we have a panel of talented and experienced Directors, skilled writers, a core production and post production team capable of handling complex tasks in film production from the story on the papers to the final film on the tape.