.home-banner
	div.banner-title
		.container
			.col-8
				h1.banner-title-top Play films
				span.banner-subtitle Ideas Surplus...
				p A video production company with optimal content & surplus <br>ideas, where we provide excellent services to deliver the <br>best video content for all categories & businesses....
			.col-4
				img.banner-play(src="images/fbox-traingle.png" alt="logo" width="200" height="265")