section#clients-wrapper.section-t-50-wrapper.text-center
	.container
		.row
			.col-10.col-offset-1
				div.clients-content
					img(src="images/play-md-white.png" alt="play-img-white")
					h1.section-title <strong>Our</strong> Clients			
				p.
					Purple flicks only specialize in videos creation. That is all we do, all we have been doing for 10 years, we are industry leaders in film & video production,working with the world’s most famous brands. In a world where, time is precious and content is king, we offer creative, original and impressive video services that will help you to take off.
		.row
			.col-2
				.client-logo.client-img-wrap1
					img.img-fluid(src="images/logo-black1.png" alt="logo-black1" width="150"  height="100")
			.col-2
				.client-logo.client-img-wrap2
					img.img-fluid(src="images/logo-black2.png" alt="logo-black2" width="150"  height="100")
			.col-2
				.client-logo.client-img-wrap3
					img.img-fluid(src="images/logo-black3.png" alt="logo-black3" width="150"  height="100")
			.col-2
				.client-logo.client-img-wrap4
					img.img-fluid(src="images/logo-black4.png" alt="logo-black1" width="150"  height="100")
			.col-2
				.client-logo.client-img-wrap5
					img.img-fluid(src="images/logo-black5.png" alt="logo-black2" width="150"  height="100")
			.col-2
				.client-logo.client-img-wrap6
					img.img-fluid(src="images/logo-black6.png" alt="logo-black3" width="150"  height="100")
		div.black-btn.margin-center
			a(href='#') Read More