//- All buttons
//- div.yellow-btn
	//- a(href='#') Read More

//- div.black-btn
//- 	a(href='#') Read More

//- All sections top-title
//- div.section-title
//- 	img(src="images/play-md.png" alt="play-img")
//- 	h1 <strong>Our</strong> Services

//- div.feature-box
//- div.fbox-icon
		img(src="images/fbox-icon1.png" alt="fbox-icon")
		h4 Corporate films & more
		p A Corporate Film is the most effective medium to reach out the nook and corner