section#contact-wrapper
	.container
		.row
			.contact-content.margin-center
				img(src="images/play-md.png" alt="play-img-white")
				h1.section-title <strong>Contact</strong> Us
		.row
			.col-4
				h1.section-subtitle Get In Touch
				.col-2
					img(src="images/location.png" alt="location")
					img(src="images/location.png" alt="location")
					img(src="images/location.png" alt="location")
				.col-10
					p vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium
					p 090-898-9099 / 894-490-4849
					p info@mymail.com / company@gmail.com
				.yellow-btn
					a(href='#') Read More
			.col-8
				form
					input(type="text" name="name" placeholder="Name")
						.yellow-btn
							a(href="#") SEND MESSAGE