footer.footer-wrapper
	.container
		.row
			.col-4
				.quick-links.links
					h4.yellow_font_color Quick Links
					.col-6
						ul
							a(href='/')
								li Home
							a(href='about.html')
								li About Us
							a(href='faq.html')
								li FAQ
							a(href='contact-us.html')
								li Contact-Us
					.col-6
						ul
							a(href='service.html')
								li Services
							a(href='client.html')
								li Clients
							a(href='portfolio.html')
								li Portfolio											
			.col-3.col-offset-1
				.footer-services.links
					h4.yellow_font_color Our Services
					ul
						a(href='/')
							li Corporate Films & More
						a(href='/')
							li OTT & New Media
						a(href='/')
							li Add Films & More
						a(href='/')
							li Broadcast Films &
			.col-3.col-offset-1
				.footer-social-icons
					h4.yellow_font_color Connect With Us
						ul.social-icons
							a(href='https://www.facebook.com/')
								li.icon-circle
									img(src="images/facebook-logo.png" alt="facebook")
							a(href='https://www.twitter.com')
								li.icon-circle.second-thirt
									img(src="images/twitter.png" alt="facebook")
							a(href='https://www.instagram.com')
								li.icon-circle.second-thirt
									img(src="images/instagram.png" alt="facebook")

		
.copyright-txt
	p.text-center 2019 Playfilm, All Rights Reserved.