footer.footer-wrapper
	.container
		.row
			.col-4
				.quick-links.links
					h4.yellow_font_color Quick Links
					.col-6
						ul
							li Home
							li About Us
							li FAQ
							li Contact-Us
					.col-6
						ul
							li Services
							li Clients
							li Portfolio											
			.col-3.col-offset-1
				.footer-services.links
					h4.yellow_font_color Our Services
					ul
						li Corporate Films & More
						li OTT & New Media
						li Add Films & More
						li Broadcast Films &
			.col-3.col-offset-1
				.footer-social-icons
					h4.yellow_font_color Connect With Us
						ul.social-icons
							li.icon-circle
								img(src="images/facebook-logo.png" alt="facebook")
							li.icon-circle.second-thirt
								img(src="images/twitter.png" alt="facebook")
							li.icon-circle.second-thirt
								img(src="images/instagram.png" alt="facebook")

		
.copyright-txt
	p.text-center 2019 Playfilm, All Rights Reserved.