//header BEGIN
header.page-header
	.container
		.row
			.col-4
				a(href='/')
					img.logo(src="images/logoo.png" alt="logo")
			.col-8
				a(href="#menu" class="menu-link") Menu
				.navigation
					ul
						li
							a(href='/') Home
						li
							a(href='service.html') Services
						li
							a(href='about.html') About Us
						li
							a(href='portfolio.html') Portfolio
						li
							a(href='client.html') Clients
						li
							a(href='contact-us.html') Contact-Us
						li
							.phone-btn
								span 
									img(src="images/phone.png" alt="phone")
									a(href='#') 008-909-9009

//header END  