//header BEGIN
header.page-header
	.container
		.row
			.col-4
				a(href='/')
					img.logo(src="images/logoo.png" alt="logo")
			.col-8
				div.navigation
					a(href='/') Home
					a(href='service.html') Services
					a(href='about.html') About
					a(href='portfolio.html') Portfolio
					a(href='client.html') Clients
					a(href='contact-us.html') Contact-Us
					a(href='#') 008-909-9009
//header END  