//header BEGIN
header.page-header 
	img.logo(src="images/logoo.png" alt="logo")
	div.navigation 
		a(href='/') Home 
		a(href='services.html') Services
		a(href='about.html') About
		a(href='google.com') Portfolio
		a(href='google.com') Clients
		a(href='contact-us.html') Contact-Us
		a(href='#') 008-909-9009
//header END  