section#portfolio-wrapper.section-wrapper
	.container
		.row.no-gutters
			.col-5.col-offset-1
				.portfolio-img-one
				.portfolio-img-two
			.col-5.col-offset-0
				div.portfolio-content
					h1.section-subtitle <strong>Our</strong> Portfolio
					p The dynamism in each of our creation and our ability to amaze our clients have been our benchmarks. We understand the vision of our patrons and translate it in an articulate manner.
				.portfolio-img-three
				div.portfolio-btn-content
					.portfolio-inner
						span
						.portfolio-btn
						a(href="#") Load More
						.play-btn
							img(src="images/play-md.png" alt="play-img")



				
