section#service-wrapper.section-wrapper.desktop-device
	div.service-content
		img(src="images/play-md.png" alt="play-img")
		h1.section-title <strong>Our</strong> Services
	.container
		.row
			div.col-4
				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon1.png" alt="fbox-icon")
					h4 Corporate films & more
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More

				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon2.png" alt="fbox-icon")
					h4 OTT & New-Media
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films
			div.col-4
				div.feature-box-cover
					img.fbox-traingle.img-fluid(src="images/service-section-play.png" alt="fbox-traingle")
					img.fbox-cover.img-fluid(src="images/fbox-cover-img.png" alt="fbox-cover-img")
					div.yellow-btn.btn-push
						a(href='#') Read More
			div.col-4
				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon3.png" alt="fbox-icon")
					h4 Ad-films & More
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films
				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon4.png" alt="fbox-icon")
					h4 Broadcast Films & More
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films
//- ipad responsive
section#service-wrapper.section-wrapper.ipad-responsive
	div.service-content
		img(src="images/play-md.png" alt="play-img")
		h1.section-title <strong>Our</strong> Services
	.container
		.row
			.col-sm-6
				.feature-box
					div.fbox-icon
						img(src="images/fbox-icon1.png" alt="fbox-icon")
					h4 Corporate films & more
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More

			.col-sm-6
				.feature-box
					div.fbox-icon
						img(src="images/fbox-icon2.png" alt="fbox-icon")
					h4 OTT & New-Media
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
			div.col-4
				div.feature-box-cover
					img.fbox-traingle.img-fluid(src="images/service-section-play.png" alt="fbox-traingle")
					img.fbox-cover.img-fluid(src="images/fbox-cover-img.png" alt="fbox-cover-img")
					div.yellow-btn.btn-push
						a(href='#') Read More
			.col-sm-6
				.feature-box
					div.fbox-icon
						img(src="images/fbox-icon3.png" alt="fbox-icon")
					h4 Ad-films & More
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More

			.col-sm-6
				.feature-box
					div.fbox-icon
						img(src="images/fbox-icon4.png" alt="fbox-icon")
					h4 Broadcast Films & More
					ul
						li Corporate films
						li OTT & New-Media
						li Ad-films & More
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
						li Ad-films & More
						li OTT & New-Media
						li Corporate films
						li Broadcast Films & More
