section#service-wrapper.section-wrapper
	div.service-content
		img(src="images/play-md.png" alt="play-img")
		h1.section-title <strong>Our</strong> Services
	.container
		.row
			div.col-4
				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon1.png" alt="fbox-icon")
					h4 Corporate films & more
					p A Corporate Film is the most effective medium to reach out the nook and corner

				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon2.png" alt="fbox-icon")
					h4 OTT & New-Media
					p A We design, think, research and build videos for web and new media
			div.col-4
				div.feature-box-cover
					img.fbox-traingle.img-fluid(src="images/fbox-traingle.png" alt="fbox-traingle")
					img.fbox-cover.img-fluid(src="images/fbox-cover-img.png" alt="fbox-cover-img")
					div.yellow-btn.btn-push
						a(href='#') Read More
			div.col-4
				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon3.png" alt="fbox-icon")
					h4 Corporate films & more
					p A Corporate Film is the most effective medium to reach out the nook and corner
				div.feature-box
					div.fbox-icon
						img(src="images/fbox-icon4.png" alt="fbox-icon")
					h4 OTT & New-Media
					p A We design, think, research and build videos for web and new media
