.about-header{
    margin-top: 75px;
    img{
        width: 100%;
    }
    .about-wrapper{
        margin-top: 75px;
        h1{
            font-size: 45px;
            font-weight: 600;
            font-family: "Opensans", sans-serif;
            text-align: right;
            margin-right: 20px;
            span{
                font-weight: 300;
                color: #fed501;
            }
        }
        p{
            font-size: 16px;
            font-weight: 300;
            font-family: "Quicksand", sans-serif;
            margin-top: 40px;
        }
    }
}
.team-wrapper{
    margin: 75px 0;
    img{
        width: 100%;
    }
    p{
        font-size: 15px;
        font-weight: 300;
        font-family: "Quicksand", sans-serif;
        margin:25px 0 35px 0 ;
    }
}

.cta{
    position: relative;
    background-image: url(../images/cta.png);
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        position: relative;
        font-family: "Opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        display: inline-block;
        padding: 0 35px; 
    }
    .black-btn{
        display: inline-block;
        width: 250px;
    }
}