.client-para p{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin: 75px auto 75px auto;
}
.client-img {
    margin-bottom: 100px;
}
.client-img-wrap{
	border: 2px solid #ebebeb;
	padding: 15px;
	margin-bottom: 30px;
}