.cta {
    position: relative;
    background-image: url(../images/cta.png);
    height: 200px;

    h1 {
        position: relative;
        font-family: "Opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        top: 85px;
    }

    .cta-but {
        position: relative;
        font-family: "Opensans", sans-serif;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        margin: auto auto auto 40px;
        background: #000;
        color: #fff;
        padding: 20px 30px;
        top: -5px;
    }
}
.portfolio-img {
    margin-bottom: 50px;
}
.portfolio-para p {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: 75px auto 0px auto;
}
.portfolio-img-btm-box{
    background: red;
    padding: 15px 15px;
    margin-top: -5px;
}
.tab{
    text-align: center;
    button{
        font-family: "Opensans", sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        border: none;
        background: none;
        padding: 25px;
        margin: 15px 0;
        letter-spacing: 1px;
    }
}
.tabcontent {
    display: flex;
    .tab-wrapper-img {
        padding: 0 30px 25px 0;
        img{
            width: 100%;
        }
    }
}