li {
    list-style-image: url(../images/list.png);
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}
.service-para p{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin: 75px auto 75px auto;
}
.services{
    margin-bottom: 75px;
    img{
        width: 100%;
    }
    h1{
        font-family: "opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin: 30px auto 50px auto;
    }
    p{
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin: auto auto 40px auto;
    }
}
.services{
    img{
        width: 100%;
    }
    h1{
        font-family: "opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin: 30px auto 50px auto;
    }
    p{
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin: auto auto 40px auto;
    }
}
.services{
    img{
        width: 100%;
    }
    h1{
        font-family: "opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin: 30px auto 50px auto;
    }
    p{
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin: auto auto 40px auto;
    }
}
.services{
    img{
        width: 100%;
    }
    h1{
        font-family: "opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin: 30px auto 50px auto;
    }
    p{
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin: auto auto 40px auto;
    }
}
.cta{
    position: relative;
    background-image: url(../images/cta.png);
    height: 200px;
    h1{
        position: relative;
        font-family: "Opensans", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        top: 85px;
    }
    .cta-but{
        position: relative;
        font-family: "Opensans", sans-serif;
        font-weight: 400;
        font-size: 13px;
        margin: auto auto auto 40px;
        background: #000;
        color: #fff;
        padding: 20px 30px;
        top: -5px;  
    }
}
.service-client-header {
    position: relative;
    text-align: center;
    margin: 75px auto;
    h1{
        font-family: "Opensans", sans-serif;
        font-weight: 600;
        font-size: 60px;
        span{
            font-weight: 300;
        }
    }
    img {
        position: absolute;
        top: -28px;
        margin-left: -48.5px;
        z-index: -1;
    }
}
.service-client-wrapper {
    margin-bottom: 55px;
}
.client-img {
    .client-img-wrap1{
        border: none;
    }
    .client-img-wrap2{
        border: none;
    }
    .client-img-wrap3{
        border: none;
    }
    .client-img-wrap4{
        border: none;
    }
    .client-img-wrap5{
        border: none;
    }
    .client-img-wrap6{
        border: none;
    }
}