extends layouts/default
block content
	link(rel="stylesheet", href="./css/client.css")
	include partials/header
	- var bgImg = './images/banner-contact.png';
	include layouts/template1
		#client
			.banner-section
				.container
					h1 	CLIENTS
					img(src="images/play-button.png")
			.clearfix
			.client-para 
				.container
					p Purple flicks only specialize in videos creation. That is all we do, all we have been doing for 10 years, we are industry <br> leaders in film & video production,working with the world’s most famous brands. In a world where, time is <br> precious and content is king, we offer creative, original and impressive video services<br> that will help you to take off.
			.client-img
				.row
					.container
						.row
							.col-2
								.client-img-wrap1
									img(src="images/c1.png" alt="")
							.col-2
								.client-img-wrap2
									img(src="images/c2.png" alt="")
							.col-2
								.client-img-wrap3
									img(src="images/c3.png" alt="")
							.col-2
								.client-img-wrap4
									img(src="images/c4.png" alt="")
							.col-2
								.client-img-wrap5
									img(src="images/c5.png" alt="")
							.col-2
								.client-img-wrap6
									img(src="images/c6.png" alt="")
						.row
							.col-2
								.client-img-wrap4
									img(src="images/c4.png" alt="")
							.col-2
								.client-img-wrap6
									img(src="images/c6.png" alt="")
							.col-2
								.client-img-wrap5
									img(src="images/c5.png" alt="")
							.col-2
								.client-img-wrap1
									img(src="images/c1.png" alt="")
							.col-2
								.client-img-wrap2
									img(src="images/c2.png" alt="")
							.col-2
								.client-img-wrap3
									img(src="images/c3.png" alt="")
            
	include partials/footer