extends layouts/default
block content
	link(rel="stylesheet", href="./css/client.css")
	include partials/header
	- var bgImg = './images/banner-contact.png';
	include layouts/template1
		#client
			.banner-section
				.container
					h1 	CLIENTS
					img(src="images/play-button.png")
			.clearfix
			.client-para 
				.container
					p Purple flicks only specialize in videos creation. That is all we do, all we have been doing for 10 years, we are industry <br> leaders in film & video production,working with the world’s most famous brands. In a world where, time is <br> precious and content is king, we offer creative, original and impressive video services<br> that will help you to take off.
			.client-img
				.row
					.container
						.row
							.col-2
								.client-img-wrap
									img(src="images/logo-black1.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black2.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black3.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black4.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black5.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black6.png" alt="" width="117" height="76")
						.row
							.col-2
								.client-img-wrap
									img(src="images/logo-black6.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black5.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black4.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black3.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black1.png" alt="" width="117" height="76")
							.col-2
								.client-img-wrap
									img(src="images/logo-black2.png" alt="" width="117" height="76")
            
	include partials/footer