extends layouts/default

block content
    link(rel="stylesheet" href="./css/contact.css")
    include partials/header
    - var bgImg = './images/banner-contact.png';
    include layouts/template1
        #contact
            .header-banner-text
                h1 Contact Us
                img(src="images/play-button.png")
            <div class="clearfix">
            .address-section-contact
                center
                    .row
                        .container
                            .col-4
                                .address-wrapper-contact
                                    h2 ADDRESS
                                    p
                                        img(src="images/location.png" alt="location" width="25" height="25")
                                        span 82 Bernie Greens Apt. 210, Hendon Way, London, UK
                            .col-4
                                .address-wrapper-contact
                                    h2 CONTACT
                                    p 
                                        img(src="images/call.png" alt="call" width="25" height="25")
                                        span.pad-left 029-282-7383
                                    p
                                        img(src="images/skype.png" alt="skype" width="20" height="20")
                                        span.pad-left 029-282-7383
                                    p
                                        img(src="images/whatsapp.png" alt="whatsapp" width="22" height="22")
                                        span.pad-left 029-282-7383
                            .col-4
                                .address-wrapper-contact
                                    h2 E-MAIL
                                    p
                                        img(src="images/email.png" alt="email" width="25" height="25")   
                                        span info@mymail.com <br> company@gmail.com
            <div class="clearfix">
            .form-section-contact
                .container
                    .form-header
                        h1 
                            center  LETS TALK 
                                <br/>
                                span GET IN TOUCH
                        img(src="images/play-md.png")
                    .form-wrapper
                        .row
                            .col-6
                                .map-wrapper 
                                    img(src="images/map.png")
                            .col-6
                                .row
                                    .col-6
                                        .form-input
                                            input(type="text" name="" placeholder="NAME")
                                    .col-6
                                        .form-input
                                            input(type="text" name="" placeholder="E-MAIL")
                                .row
                                    .col-6
                                        .form-input2
                                            input(type="text" name="" placeholder="PHONE NO.")
                                    .col-6
                                        .form-input2
                                            input(type="text" name="" placeholder="SUBJECT")
                                .form-input3
                                    input(type="text" name="" placeholder="MESSAGE")
                                <br/>
                                .yellow-btn
                                    a(href="#") SEND MESSAGE
        <div class="clearfix">
    include partials/footer