extends layouts/default
block content
    link(rel="stylesheet", href="./css/portfolio.css")
    include partials/header
    - var bgImg = './images/banner-contact.png';
    include layouts/template1
        #portfolio
            .header-banner-text
                h1 Portfolio
                img(src="images/play-button.png")
            .clearfix
            .portfolio-para
                p Purple flicks only specialize in videos creation. That is all we do, all we have been doing for 10 years, we are industry leaders in film & video production,<br> working with the world’s most famous brands. In a world where, time is precious and content is king, we offer creative,<br> original and impressive video services that will help you to take off.
            .tab
                button.tablinks(onclick="openCity(event, 'show-all')") SHOW ALL
                button.tablinks(onclick="openCity(event, 'camera-acting')") CAMERA ACTING
                button.tablinks(onclick="openCity(event, 'cinemagraphy')") CINEMAGRAPHY
                button.tablinks(onclick="openCity(event, 'voice-dubbing')") VOICE & DUBBING
            //- #show-all.tabcontent
            .portfolio-img
                .container
                    #camera-acting.tabcontent
                        .tab-wrapper-img
                            img(src="./images/p1.jpg", alt="")
                            .portfolio-img-btm-box
                                h4 original and impressive video
                        .tab-wrapper-img
                            img(src="./images/p2.jpg", alt="")
                            .portfolio-img-btm-box
                                h4 original and impressive video
                        .tab-wrapper-img
                            img(src="./images/p3.jpg", alt="")
                            .portfolio-img-btm-box
                                h4 original and impressive video
                    #cinemagraphy.tabcontent
                        .tab-wrapper-img
                            img(src="./images/p4.jpg", alt="")
                            .portfolio-img-btm-box
                                h4 original and impressive video
                        .tab-wrapper-img
                            img(src="./images/p5.jpg", alt="")
                            .portfolio-img-btm-box
                                h4 original and impressive video
                        .tab-wrapper-img
                            img(src="./images/p6.jpg", alt="")
                            .portfolio-img-btm-box
                                h4 original and impressive video
                    #voice-dubbing.tabcontent
                        .tab-wrapper-img
                            img(src="./images/p7.jpg", alt="")
                        .tab-wrapper-img
                            img(src="./images/p8.jpg", alt="")
                        .tab-wrapper-img
                            img(src="./images/p9.jpg", alt="")
            .clearfix
            .cta
                .container
                    h1 Are you ready to start your business?
                        span.cta-but contact to GET A QUOTE
            .clearfix

    include partials/footer