div.internal-page-wrapper
    div.internal-page-banner
        div.view
            div.bg-img-wrapper(style=`background-image:url(${bgImg})`)
            div.page-content
                block content