.yellow-btn{
	padding: 10px 5px;
	font-weight:bold;
	background-color:@yellow_bg;
	width:135px;
	text-align:center;
	text-transform:@uppercase;
}
.yellow-btn a{
	text-decoration:@underline_none;
	color:@color_black;
	font-size:15px;
}