//project-color
.yellow_font_color{
	color: @yellow_font_color;
	font-family:'Open Sans', sans-serif;
	font-weight: 500;
}

//All-buttons
.yellow-btn{
	padding: 10px 5px;
	font-weight:bold;
	background-color:@yellow_bg;
	width:135px;
	text-align:@center;
}
.yellow-btn a{
	text-decoration:@underline_none;
	color:@color_black;
	font-size:14px;
	font-weight:500;
	letter-spacing:1px;
	text-transform:@uppercase;
}

.black-btn{
	padding: 10px 5px;
	font-weight:bold;
	background-color:@black_bg;
	width:135px;
	text-align:@center;
}
.black-btn a{
	text-decoration:@underline_none;
	color:@color_white_1;
	font-size:14px;
	font-weight:400;
	letter-spacing:1px;
	text-transform:@uppercase;
}
//Section-title
.service-content{
	position:@relative;
	text-align:@center;
	margin:@margin-t-b-100;
}
.section-subtitle{
	font-size:30px;
	color:@color_black;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	margin-bottom: 25px;
}
.service-content img{
	position:@absolute;
	z-index:-1;
	top:-17%;
	left:46%;
}

.section-title{
	font-size:60px;
	color:@color_black;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
}

//All services
.feature-box{
	text-align:@center;
	margin-bottom:@margin-b-75;
}
.feature-box p{
	margin-top:@margin-t-15;
	padding: 0 45px;
}

.feature-box h4{
	margin-top:@margin-t-5;
}

//Center-align
.text-center{
	text-align:@center;
}
.text-left{
	text-align:@left;
}

// client section
.client-img-wrap1 {
	border: 1px solid #ebebeb;
	height: 110px;
	text-align: center;
	margin-bottom: 20px;
	padding: 25px 15px;
}

.client-img-wrap2 {
	border: 1px solid #ebebeb;
	height: 110px;
	text-align: center;
	margin-bottom: 20px;
	padding: 18px 15px;
}

.client-img-wrap3 {
	border: 1px solid #ebebeb;
	height: 110px;
	text-align: center;
	margin-bottom: 20px;
	padding: 30px 25px;
}

.client-img-wrap4 {
	border: 1px solid #ebebeb;
	height: 110px;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
}

.client-img-wrap5 {
	border: 1px solid #ebebeb;
	height: 110px;
	text-align: center;
	margin-bottom: 20px;
	padding: 12px;
}

.client-img-wrap6 {
	border: 1px solid #ebebeb;
	height: 110px;
	text-align: center;
	margin-bottom: 20px;
	padding: 16px;
}
// client section end