@color_blue_1 : rgb(0, 161, 255);
@color_white_1 : #FFFFFF;
@color_opponent : #f4f4f4;
@color_me: @color_white_1;
@yellow_font_color:#fed501;
@color_black : #000000;
@underline_none:none;
@uppercase:uppercase;
@center:center;
@left:left;
@right:right;

//Buttons

@yellow_bg : #fed501;
@black_bg : #000;

//Positions
@relative:relative;
@absolute: absolute;

//less use
@flex : flex;

//margin stylesheet

@margin-t-25:25px;

@margin-t-75:75px;

@margin-t-15:15px;

@margin-b-15:15px;

@margin-b-20:20px;

@margin-t-5:5px;

@margin-t-100:100px;

@margin-t-50:50px;

@margin-t-135:135px;

@margin-t-b-100:100px 0;

@margin-t-120:120px;

@margin-b-75:75px;

@margin-b-50:50px;

@margin-b-35:35px;

@margin-b-100:100px;

@padd-t-b-100:100px 0;