.navigation{
	display: flex;
    align-items: center;
    position: absolute;
    padding-top: 25px;
}
.navigation.yellow-btn{
	width:100%!important;
}
.phone-btn span{
	background: @yellow_bg;
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
}
.phone-btn img{
	margin:0 5px;
}
.phone-btn a{
	margin:0 5px!important;
}
.phone-btn a:hover{
	color: @color_black!important;
}
img.logo{
	position: absolute;
    padding-top: 25px;
}
.navigation a{
	color:@color_black;
	text-decoration:none;
	font-size:14px;
	text-transform:@uppercase;
	font-weight:600;
}
.navigation a:hover{
	color:@yellow_font_color;
	transition: .3s all;
}
.navigation a:focus,a:active{
	color:@yellow_font_color;
}
.home-banner{
	height:550px;
	background-size:cover;
}
.banner-title{
	text-transform:@uppercase;
	font-size:29px;
	margin-top:@margin-t-120;
}
.banner-title p{
	font-size:18px;
	line-height:30px;
	margin-top:@margin-t-25;
}

// Responsive navbar
